nav.navbar {
    position: relative;
}

.scroll-down {
    z-index: 100;
    border: 4px solid white;
    opacity: 0.8;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.scroll-down:hover {
    opacity: 1;
}

.tituloUno, .subtitulo {
    font-family: 'Georgia', serif; /* Negrita para destacar */
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0.5px rgba(0,0,0,0.3); /* Opcional: efecto sutil */
}

.subtituloContenedor {
    background-color: rgba(26, 175, 251, 0.8); /* 80% opaco */
}

.navbar-toggler {
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.05);
    transform: scale(1.05);
}

.btn-custom {
    background-color: whitesmoke !important;
    color: rgba(26, 175, 251, 0.8) !important; /* 80% opaco */
    border: 2px solid rgba(26, 175, 251, 1) !important;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra */
}

.btn-custom:hover {
    background-color: rgba(26, 160, 255, 1) !important;
    color: white !important;
    transform: translateY(-2px); /* Efecto de levitación opcional */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra */
}

.detalle {
    transition: all 0.3s ease-in;
    background-color: rgba(26, 160, 255, 1);
    color: white;
}

.detalle:hover {
    color: white;
    letter-spacing: 1px;
    background-color: rgba(26, 175, 251, 1);
    border: solid 2px whitesmoke;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra */
}

.detalleDos {
    transition: all 0.3s ease-in;
    border: 2px solid #ff7300!important;
    background-color: rgba(26, 160, 255, 1);
    color: #ff7300!important;
}

.detalleDos:hover {
    color: white;
    letter-spacing: 1px;
    background-color: #ff7300!important;
    border: solid 2px whitesmoke;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra */
}

.whatsapp-icon {
    opacity: 0.8;
    transition: all 0.3s;
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
}

.whatsapp-icon:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(37, 211, 102, 0.7);
    opacity: 1;
    cursor: pointer;
}

.tarjeta {
    transition: 0.3s transform ease-in-out;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}

.navbar-toggler[aria-expanded="true"] i {
    color: rgba(26, 175, 251, 1) !important;
    transition: color 0.3s ease;
}

.hamburguesa {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio uniforme entre elementos */
    gap: 1rem; /* Espaciado adicional entre items (opcional) */
}

.navbar-collapse {
    background-color: rgba(26, 175, 251, 1);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 250px;
    border-radius: 0.25rem;
    z-index: 1001;
}

.bordecito {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.bordecito::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.bordecito:hover::after {
    width: 70%; /* o el porcentaje/píxeles que quieras */
}

.img {
    width: 100%;
    height: 280px; /* Ajusta el alto deseado */
    object-fit: cover; /* Mantiene la proporción */
}

.card-body {
    text-align: center;
}

.detalles-propiedad {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 10px;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.detalles-propiedad div {
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.img-carousel {
    height: 100vh;
    object-fit: cover;
}

.navegacion {
    width: 11rem; /* Ocupa todo el ancho del contenedor */
    font-size: 14px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding: 8px 30px 8px 15px; /* Mantiene el padding para mejor apariencia */
}

@media (max-width: 768px) {
    .navegacion {
        font-size: 16px; /* Aumentar tamaño en móviles */
    }
    .busqueda {
        top: 100%;
        position: relative;
        left: auto;
        transform: none;
        margin: 0 auto;
        padding: 0 15px;
    }
    .busqueda form .d-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .scroll-down {
        width: 40px !important;
        height: 40px !important;
        border: 2px solid white;
    }
    .whatsapp-icon {
        width: 45px !important;
        height: 45px !important;
    }
    .whatsapp-icon i {
        font-size: 2.2rem;
    }
    .hamburguesa {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .hamburguesa .nav-item {
        margin: 0 !important;
    }
    .hamburguesa a {
        font-size: 16px!important;
    }

    .navbar-collapse {
        height: auto;
        width: 50vw!important;
        border-radius: 12px!important;
    }
}
@media (max-width: 435px){
    .hamburguesa {
        gap: 0.8rem;
    }
    .navbar-collapse {
        height: auto;
        width: 90vw!important;
        border-radius: 12px!important;
    }

}

.busqueda form .me-2 {
    width: 100%;
}

.busqueda form .btn {
    width: 100%;
}

.logo_nav {
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.61));
}

.navDetalle {
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.4);
}

.textoNav h2 {
    font-family: 'Georgia', serif; /* Negrita para destacar */
    font-weight: 600;
    letter-spacing: 1px; /* Espaciado opcional para elegancia */
    text-shadow: 1px 1px 0.5px rgba(0,0,0,0.3);
}
.tarjeta{
    flex: 1 1 30%;        /* Ocupan ~30% del ancho con flexbox */
    max-width: 350px;
}

