
nav.navbar {
    position: relative;
}
.scroll-down{
    z-index: 100;
    border: 4px solid white;
    opacity: 0.8;
    cursor: pointer;
    width: 60px; 
    height: 60px
}
.scroll-down:hover{
    opacity: 1;
}

.tituloUno, .subtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 5px 5px 3px rgba(0,0,0,0.4); /* Opcional: efecto sutil */
}
.navbar-toggler {
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.05);
    transform: scale(1.05);
}

.btn-custom {
    background-color: rgb(119, 221, 109) !important;
    transition: all 0.3s ease;
}

/* Efecto hover */
.btn-custom:hover {
    background-color: #4CAF50 !important; /* Verde más oscuro */
    transform: translateY(-2px); /* Efecto de levitación opcional */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra opcional */
}

.detalle{
    transition: all 0.3s ease-in;
}
.detalle:hover{
    font-weight: bold;
    letter-spacing: 1px;
}


.whatsapp-icon {
    opacity: 0.8;
    transition: all 0.3s;
    border-radius: 50%;
    height: 60px!important;
    width: 60px!important;
}
.whatsapp-icon:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(37, 211, 102, 0.7);
    opacity: 1;
    cursor: pointer;
}

.tarjeta{
    transition: 0.3s transform ease-in-out;
}

.tarjeta:hover{
    transform: scale(1.05);
}

/* Cambiar el color del ícono cuando el botón está expandido */
.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}
.navbar-toggler[aria-expanded="true"] i {
    color: rgb(119, 221, 109) !important;
    transition: color 0.3s ease;
}

.navbar-collapse{
    background-color: rgba(76, 175, 80, 0.7);
    height: auto;
    width: 250px;
    border-radius: 0.25rem;
    z-index: 10000;
}

.bordecito {
    position: relative;
    display: inline-block;
    color: #fff; /* o el color que quieras */
    text-decoration: none;
}

.bordecito::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #fff; /* o el color que quieras */
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.bordecito:hover::after {
    width: 70%; /* o el porcentaje/píxeles que quieras */
}


.img {
    width: 100%;
    height: 280px; /* Ajusta el alto deseado */
    object-fit: cover; /* Mantiene la proporción */
}

.card-body {
    text-align: center;
}

.detalles-propiedad {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 10px;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.detalles-propiedad div {

    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Ajusta todas las imágenes del carrusel al mismo tamaño */
.img-carousel {
    height: 100vh;
    object-fit: cover;
}

.navegacion {
    width: 11rem; /* Ocupa todo el ancho del contenedor */
    font-size: 14px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding: 8px 30px 8px 15px;/* Mantiene el padding para mejor apariencia */
}

@media (max-width: 768px) {
    .navegacion {
        font-size: 16px; /* Aumentar tamaño en móviles */
    }
    .busqueda {
        top: 100%;
        position: relative;
        left: auto;
        transform: none;
        margin: 0 auto;
        padding: 0 15px;
    }
    .busqueda form .d-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }.scroll-down{
        width: 40px!important;
        height: 40px!important;
        border: 2px solid white;
    }
    .whatsapp-icon{
      width: 45px!important;  
      height: 45px!important;  
    }
    .whatsapp-icon i{
        font-size: 2.2rem;
    }

}

.busqueda form .me-2 {
    width: 100%;
}

.busqueda form .btn {
    width: 100%;
}
.logo_nav{
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.61));
}


